@tailwind base;
@tailwind components;
@tailwind utilities;

/* .font-style {
  font-family: "Manrope", sans-serif;
} */
.colorbg-Linear {
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
}

.customs-button {
  padding: 19px 28px;
  gap: 10px;
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 8px;
  color: white;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
}
.btn-clr {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
}
.big-tital {
  width: auto;
  height: auto;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
}
.span {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.short-cart {
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.1) 0%,
    rgba(152, 115, 255, 0.1) 100%
  );
  border-radius: 8px;
}
.active {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  color: rgb(255, 252, 248);
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
}
.txt-color{
  color: rgba(255, 255, 255, 0.7);
}
.dark-color{
color: #757575;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 1280px) {
  .side-container {
    margin-left: 200px;
    margin-right: 200px;
  }
  .big-tital {
    width: 570px;
    height: 300px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 100px;
  }
  .w {
    width: 519px;
  }
  .card-style-short {
    background: linear-gradient(
      90deg,
      rgba(126, 144, 254, 0.05) 0%,
      rgba(152, 115, 255, 0.05) 100%
    );
    border-radius: 8px;
  }
}
